@charset "utf-8";
/* css reset:为什么? 为了重置默认样式, 并让各大浏览器的样式统一 */
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    /* 给我们能用到的盒子都加上了, box-sizing: border-box; */
    box-sizing: border-box;
}

body {
    font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
    color: #555;
    background-color: white;
    overflow-x: hidden;
}

/*去除边框*/
fieldset,
img,
input,
button,
textarea {
    border: none;
    /*去除蓝色小边框*/
    outline-style: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*禁止表单域缩放*/
textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #000;
    /* 取消链接高亮(移动端)  */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 图片自适应 */
img {
    width: 100%;
    height: 100%;
    /*解决图片底部对其问题, 底部对齐问题, 只对于行内块元素有 */
    display: block;
}

ul,
ol {
    list-style: none;
}

/* 把所有的标题的样式全部重置了 */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/* 废物利用 */
em,
i {
    font-style: normal;
}

/* 提供了一些公共类 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

/*单行溢出*/
.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*多行溢出*/
.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*单行溢出直接隐藏*/
.one-txt-none {
    overflow: hidden;
    white-space: nowrap;
}

/* 最右边没有margin值 */
.no_marginR {
    margin-right: 0 !important;
}

/* 鼠标移入后图片放大，移除后图片缩小 */
.scale {
    overflow: hidden;
}

.scale img {
    transition: 1s;
}

.scale:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

/* 列表前小圆点 */
.marquage {
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #21BAC2;
}

.set-foot {
    position: absolute;
    bottom: 0;
}
