.top {
  height: 34px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
  padding-top: 11px;
}
.top span {
  color: #999999;
  width: 1200px;
  display: block;
  font-size: 14px;
  line-height: 1em;
  margin: 0 auto;
}
header {
  width: 100%;
  background: #fff;
  padding: 29px 0;
}
header .container {
  overflow: hidden;
}
header .container .logo {
  float: left;
}
header .container .logo .img img {
  display: block;
  width: 228px;
  height: 60px;
}
header .container .search {
  margin-left: 119px;
  float: left;
}
header .container .search .main-input {
  border: 2px solid #dd2931;
  border-radius: 2px;
}
header .container .search .main-input form {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header .container .search .main-input form img {
  width: 17px;
  height: 17px;
  margin: 11px 8px 12px 10px;
}
header .container .search .main-input form input.ipt-search {
  width: 333px;
  padding-right: 18px;
}
header
  .container
  .search
  .main-input
  form
  input.ipt-search::-webkit-input-placeholder,
header .container .search .main-input form input.ipt-search:-moz-placeholder,
header .container .search .main-input form input.ipt-search::-moz-placeholder,
header
  .container
  .search
  .main-input
  form
  input.ipt-search:-ms-input-placeholder {
  color: #666666;
  font-size: 14px;
}
header .container .search .main-input form input.btn-search {
  width: 78px;
  height: 100%;
  border: none;
  background: #dd2931;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
header .container .search .keywords {
  margin-top: 11px;
  font-size: 14px;
  max-width: 450px;
  white-space: nowrap;
}
header .container .search .keywords span {
  color: #666666;
}
header .container .search .keywords a {
  color: #999999;
}
header .container .search .keywords a + a {
  margin-left: 8px;
}
header .container .nav-bar {
  margin-left: 129px;
  float: left;
}
header .container .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-content: center;
  position: relative;
  top: 12px;
  left: 0;
}
header .container .nav-bar ul li + li {
  margin-left: 28px;
}
header .container .nav-bar ul li .img {
  height: 38px;
  width: 38px;
  display: inline-block;
  border-radius: 50%;
  background: #deecff;
}
header .container .nav-bar ul li .img img {
  width: 21px;
  height: 21px;
  margin: 9px auto;
}
header .container .nav-bar ul li .img.blue {
  background: #247fe2;
}
header .container .nav-bar ul li span {
  font-size: 16px;
  color: #666666;
  margin-left: 11px;
  position: relative;
  top: -15px;
}
nav {
  width: 100%;
  height: 54px;
  background: #247fe2;
}
nav ul {
  width: 1260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  white-space: nowrap;
}
nav ul > div {
  padding: 17px 30px 17px 17px;
  font-size: 16px;
  white-space: nowrap;
  height: 54px;
}
nav ul > div a {
  color: #f5f5f5;
}
nav ul li {
  color: #fff;
  position: relative;
}
nav ul li:nth-child(n + 13) {
  display: none;
}
nav ul li img {
  width: 8px;
  height: 5px;
  position: absolute;
  right: 12px;
  top: 50%;
}
nav ul li > a {
  display: block;
  padding: 17px 30px 17px 17px;
  font-size: 16px;
  height: 54px;
  color: #fff;
}
nav ul li.arrow-down .arrow-items {
  background: #13469c;
  width: 100%;
  position: absolute;
  padding: 14px 1em 25px;
  text-align: center;
  top: 100%;
  display: none;
  z-index: 99999;
}
nav ul li.arrow-down .arrow-items a {
  color: #9cb7ee;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
nav ul li.arrow-down .arrow-items a:hover {
  color: #fff;
}
nav ul li.arrow-down .arrow-items a + a {
  margin-top: 20px;
}
div.banner-bac {
  background-size: cover;
  width: 100%;
  height: 460px;
  position: absolute;
  z-index: 0;
  min-width: 1200px;
}
div.banner-bac img {
  width: 100%;
  height: 100%;
}
div.banner-bac .swiper-pagination {
  position: absolute;
  z-index: 20;
  bottom: 32px;
  width: 100%;
  text-align: center;
}

div.banner-bac .swiper-pagination .swiper-pagination-switch {
  display: inline-block;
  cursor: pointer;
  background: #febd49 !important;
  opacity: 1;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 2px;
}
div.banner-bac .swiper-pagination .swiper-active-switch {
  background: #fff !important;
  width: 39px !important;
  height: 9px !important;
  border-radius: 5px !important;
  opacity: 1;
}
.banner {
  height: 460px;
}
.banner .container {
  padding-top: 50px;
}
.banner .items {
  width: 250px;
  height: 354px;
  background: #fff;
  padding: 27px 19px 27px 20px;
  position: absolute;
}
.banner .container .item .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
}
.banner .container .item .item-head img {
  width: 17px;
  height: 21px;
}
.banner .container .item .item-head h2 {
  color: #333333;
  font-size: 18px;
  margin-top: 3px;
  line-height: 18px;
  margin-left: 7px;
  font-weight: bold;
}
.banner .container .item ul {
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 7px;
  border-left: 1px solid #e3e3e3;
  padding-top: 3px;
}
.banner .container .item ul li {
  margin-left: 11px;
  position: relative;
  font-size: 12px;
  margin-top: 5px;
}
.banner .container .item ul li a {
  color: #ff5b40;
  display: block;
  width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .container .item ul li img {
  height: 11px;
  width: 11px;
  display: inline-block;
  position: absolute;
  left: -17px;
  top: 4px;
}
.banner .container .item ul li + li {
  margin-top: 6px;
}
.banner .container .item + .item {
  margin-top: 26px;
}
.banner .container .item + .item ul {
  border: none;
  padding-bottom: 0;
}
.banner .container .item + .item ul li {
  margin-left: 3px;
}
.banner .container .item + .item ul li a {
  color: #555555;
}
.banner .container .item + .item ul li a:hover {
  color: #247fe2;
}
.banner .container .item + .item ul li span {
  width: 3px;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -6px;
  height: 3px;
  background: #6a6a6a;
}
footer {
  width: 100%;
  background: #27313b;
  padding-top: 30px;
}
footer .footer-center {
  text-align: center;
  font-size: 14px;
  color: #bdc3ca;
  line-height: 26px;
}
.main.index {
  background: #f5f5f5;
  padding-bottom: 43px;
}
.main.index .container .index1 {
  padding-top: 38px;
  overflow: hidden;
}
.main.index .container .index1 .left {
  width: 370px;
  height: 530px;
  background: #fff;
  padding: 21px 22px 33px;
  float: left;
}
.main.index .container .index1 .left .item-head {
  overflow: hidden;
}
.main.index .container .index1 .left .item-head img {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
}
.main.index .container .index1 .left .item-head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index1 .left ul {
  border-bottom: 1px dotted #e3e3e3;
  margin-top: 22px;
  padding-bottom: 25px;
}
.main.index .container .index1 .left ul li {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index1 .left ul li:first-child {
  color: #555555;
  margin-bottom: 8px;
}
.main.index .container .index1 .left ul li:first-child a {
  font-size: 18px;
}
.main.index .container .index1 .left ul li:first-child a:hover {
  color: #ff2202;
}
.main.index .container .index1 .left ul li:not(:first-child) {
  font-size: 14px;
}
.main.index .container .index1 .left ul li:not(:first-child) a {
  color: #555555;
}
.main.index .container .index1 .left ul li:not(:first-child) a:hover {
  color: #247fe2;
}
.main.index .container .index1 .left ul li:not(:first-child) a:before {
  content: "·";
  margin-right: 8px;
}
.main.index .container .index1 .left ul li:not(:first-child) + li {
  margin-top: 8px;
}
.main.index .container .index1 .left ul:last-child {
  border: none;
}
.main.index .container .index1 .right {
  margin-left: 20px;
  width: 810px;
  height: 530px;
  background: #fff;
  padding: 21px 22px 0;
  float: left;
}
.main.index .container .index1 .right .item-head {
  overflow: hidden;
}
.main.index .container .index1 .right .item-head img {
  width: 20px;
  height: 22px;
  display: block;
  float: left;
}
.main.index .container .index1 .right .item-head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index1 .right .items {
  margin-top: 23px;
  overflow: hidden;
}
.main.index .container .index1 .right .items .item {
  width: 370px;
  height: 82px;
  margin: 0 26px 34px 0;
  float: left;
}
.main.index .container .index1 .right .items .item:nth-of-type(2n) {
  margin-right: 0;
}
.main.index .container .index1 .right .items .item > a {
  float: left;
  display: block;
  width: 120px;
  height: 82px;
  margin-right: 17px;
}
.main.index .container .index1 .right .items .item > a img {
  width: 100%;
  height: 100%;
}
.main.index .container .index1 .right .items .item .tit {
  font-size: 14px;
  line-height: 26px;
  width: 232px;
  height: 50px;
  float: left;
  margin-top: -5px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index .container .index1 .right .items .item .tit a {
  color: #333333;
}
.main.index .container .index1 .right .items .item .tit a:hover {
  color: #247fe2;
}
.main.index .container .index1 .right .items .item .time {
  width: 232px;
  float: left;
  margin-top: 24px;
}
.main.index .container .index1 .right .items .item .time img {
  width: 13px;
  height: 13px;
  display: block;
  float: left;
  margin-right: 6px;
}
.main.index .container .index1 .right .items .item .time span {
  display: block;
  float: left;
  line-height: 14px;
}
.main.index .container .index2 {
  margin-top: 40px;
  background: #fff;
  padding: 21px 21px 50px 22px;
}
.main.index .container .index2 .head {
  overflow: hidden;
}
.main.index .container .index2 .head img {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
}
.main.index .container .index2 .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index2 .head span.more {
  float: right;
  font-size: 16px;
}
.main.index .container .index2 .head span.more a {
  color: #888888;
}
.main.index .container .index2 .head span.more a:hover {
  color: #247fe2;
}
.main.index .container .index2 .content {
  overflow: hidden;
  margin-top: 24px;
}
.main.index .container .index2 .content .left {
  width: 320px;
  float: left;
}
.main.index .container .index2 .content .left > a {
  width: 320px;
  height: 211px;
  display: block;
}
.main.index .container .index2 .content .left .tit {
  font-size: 18px;
  margin-top: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index2 .content .left .tit a {
  color: #333333;
}
.main.index .container .index2 .content .left .tit a:hover {
  color: #247fe2;
}
.main.index .container .index2 .content .left .txt {
  font-size: 14px;
  line-height: 22px;
  margin-top: 12px;
  color: #666666;
  height: 44px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index .container .index2 .content .center {
  margin-left: 35px;
  float: left;
}
.main.index .container .index2 .content .center .items .item {
  height: 82px;
  width: 377px;
}
.main.index .container .index2 .content .center .items .item + .item {
  margin-top: 36px;
}
.main.index .container .index2 .content .center .items .item > a {
  display: block;
  width: 120px;
  height: 82px;
  float: left;
  margin-right: 17px;
}
.main.index .container .index2 .content .center .items .item .tit {
  font-size: 14px;
  color: #333333;
  line-height: 14px;
  width: 240px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index2 .content .center .items .item .tit a {
  color: #333333;
}
.main.index .container .index2 .content .center .items .item .tit a:hover {
  color: #247fe2;
}
.main.index .container .index2 .content .center .items .item .txt {
  margin-top: 19px;
  font-size: 12px;
  color: #666666;
  height: 40px;
  float: left;
  width: 240px;
  line-height: 22px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index .container .index2 .content .right {
  width: 425px;
  float: left;
}
.main.index .container .index2 .content .right .items {
  margin-left: 17px;
  overflow: hidden;
}
.main.index .container .index2 .content .right .items .item {
  margin-left: 29px;
  float: left;
  width: 175px;
  height: 152px;
}
.main.index .container .index2 .content .right .items .item > a {
  display: block;
  width: 175px;
  height: 120px;
}
.main.index .container .index2 .content .right .items .item .tit {
  margin-top: 11px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index2 .content .right .items .item .tit a {
  font-size: 14px;
  color: #333333;
}
.main.index .container .index2 .content .right .items .item .tit a:hover {
  color: #247fe2;
}
.main.index .container .index2 .content .right .items .item:nth-child(n + 3) {
  margin-top: 31px;
}
.main.index .container .index3 {
  margin-top: 40px;
  overflow: hidden;
}
.main.index .container .index3 .left {
  width: 810px;
  height: 550px;
  padding: 21px 28px 43px 22px;
  background: #fff;
  float: left;
}
.main.index .container .index3 .left .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index3 .left .head img {
  width: 20px;
  height: 22px;
  float: left;
}
.main.index .container .index3 .left .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index3 .left .head span.more {
  font-size: 16px;
  float: right;
}
.main.index .container .index3 .left .head span.more a {
  color: #888888;
}
.main.index .container .index3 .left .head span.more a:hover {
  color: #247fe2;
}
.main.index .container .index3 .left .content {
  margin-top: 23px;
  overflow: hidden;
}
.main.index .container .index3 .left .content .content-left {
  float: left;
  width: 320px;
}
.main.index .container .index3 .left .content .content-left .items .item {
  position: relative;
  width: 100%;
  height: 210px;
}
.main.index .container .index3 .left .content .content-left .items .item > a {
  display: block;
  width: 320px;
  height: 210px;
}
.main.index .container .index3 .left .content .content-left .items .item .tit {
  width: 100%;
  padding: 0 10px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  bottom: 0;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-left
  .items
  .item
  .tit
  a {
  color: #ffffff;
  font-size: 16px;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-left
  .items
  .item
  + .item {
  margin-top: 20px;
}
.main.index .container .index3 .left .content .content-right {
  margin-left: 35px;
  float: left;
}
.main.index .container .index3 .left .content .content-right .items1 .item {
  width: 400px;
  height: 82px;
}
.main.index .container .index3 .left .content .content-right .items1 .item > a {
  display: block;
  width: 120px;
  height: 82px;
  float: left;
  margin-right: 17px;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items1
  .item
  .tit {
  float: left;
  width: 262px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items1
  .item
  .tit
  a {
  font-size: 14px;
  color: #333333;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items1
  .item
  .tit
  a:hover {
  color: #247fe2;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items1
  .item
  .txt {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
  margin-top: 12px;
  float: left;
  width: 262px;
  height: 40px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items1
  .item
  + .item {
  margin-top: 25px;
}
.main.index .container .index3 .left .content .content-right .items2 {
  margin-top: 26px;
}
.main.index .container .index3 .left .content .content-right .items2 ul li {
  line-height: 28px;
  width: 400px;
}
.main.index .container .index3 .left .content .content-right .items2 ul li a {
  font-size: 14px;
  color: #555555;
  display: block;
  float: left;
  width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items2
  ul
  li
  a:hover {
  color: #247fe2;
}
.main.index
  .container
  .index3
  .left
  .content
  .content-right
  .items2
  ul
  li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  float: left;
  margin: 13px 10px 0 0px;
  /* position: relative; */
  /* top: -3px; */
  /* right: 8px;*/
}
.main.index .container .index3 .right {
  width: 370px;
  height: 550px;
  margin-left: 20px;
  padding: 21px 22px 39px 22px;
  background: #fff;
  float: left;
}
.main.index .container .index3 .right .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index3 .right .head img {
  display: block;
  float: left;
  width: 25px;
  height: 22px;
}
.main.index .container .index3 .right .head p {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  float: left;
  margin: -5px 0 0 12px;
}
.main.index .container .index3 .right .content {
  margin-top: 24px;
}
.main.index .container .index3 .right .content .items .item:first-child {
  height: 131px;
  border-bottom: 1px dotted #e3e3e3;
}
.main.index .container .index3 .right .content .items .item:first-child .paim {
  background: #ff2202;
}
.main.index .container .index3 .right .content .items .item:first-child .tit a {
  font-size: 16px;
  color: #333333;
}
.main.index
  .container
  .index3
  .right
  .content
  .items
  .item:first-child
  .first-item-spec {
  margin-top: 12px;
}
.main.index
  .container
  .index3
  .right
  .content
  .items
  .item:first-child
  .first-item-spec
  > a {
  width: 120px;
  height: 82px;
  display: block;
  float: left;
}
.main.index
  .container
  .index3
  .right
  .content
  .items
  .item:first-child
  .first-item-spec
  .txt {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
  width: 180px;
  height: 66px;
  float: left;
  margin: 5px 0 0 17px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main.index .container .index3 .right .content .items .item {
  position: relative;
}
.main.index .container .index3 .right .content .items .item .paim {
  width: 20px;
  height: 18px;
  background: #b7d3fa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  float: left;
  text-align: center;
  line-height: 18px;
}
.main.index .container .index3 .right .content .items .item .tit {
  margin-left: 35px;
  line-height: 16px;
  width: 290px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index3 .right .content .items .item .tit a {
  font-size: 14px;
  color: #555555;
}
.main.index .container .index3 .right .content .items .item .tit a:hover {
  color: #247fe2;
}
.main.index .container .index3 .right .content .items .item:not(:first-child) {
  margin-top: 16px;
}
.main.index
  .container
  .index3
  .right
  .content
  .items
  .item:not(:first-child)
  .tit {
  top: -1px;
}
.main.index .container .index3 .right .content .items .item:nth-child(2) .paim {
  background: #ff7302;
}
.main.index .container .index3 .right .content .items .item:nth-child(3) .paim {
  background: #ffcc02;
}
.main.index .container .index4 {
  margin-top: 40px;
  background: #fff;
  padding: 21px 22px 43px 22px;
}
.main.index .container .index4 .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index4 .head img {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
}
.main.index .container .index4 .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index4 .head span.more {
  float: right;
  font-size: 16px;
}
.main.index .container .index4 .head span.more a {
  color: #888888;
}
.main.index .container .index4 .head span.more a:hover {
  color: #247fe2;
}
.main.index .container .index4 .content {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index4 .content .items {
  float: left;
  width: 360px;
}
.main.index .container .index4 .content .items .item {
  margin-top: 23px;
  overflow: hidden;
}
.main.index .container .index4 .content .items .item:hover {
  background: #f4f4f4;
}
.main.index .container .index4 .content .items .item img {
  display: block;
  width: 185px;
  height: 126px;
  margin-right: 15px;
}
.main.index .container .index4 .content .items .item .tit {
  width: 144px;
  float: left;
  height: 44px;
  line-height: 22px;
  margin-top: 5px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index .container .index4 .content .items .item .tit a {
  font-size: 16px;
  color: #333333;
  line-height: 22px;
}
.main.index .container .index4 .content .items .item .txt {
  margin-top: 11px;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
  width: 144px;
  float: left;
  height: 60px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main.index .container .index4 .content .items .item + img {
  width: 350px;
  height: 103px;
  margin-top: 27px;
}
.main.index .container .index4 .content .items ul {
  margin-top: 20px;
  width: 360px;
}
.main.index .container .index4 .content .items ul li {
  margin-left: 4px;
}
.main.index .container .index4 .content .items ul li a {
  display: block;
  width: 345px;
  font-size: 14px;
  color: #555555;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index4 .content .items ul li a:hover {
  color: #247fe2;
}
.main.index .container .index4 .content .items ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  margin: 13px 8px 0 -3px;
  float: left;
}
.main.index .container .index4 .content .items + .items {
  margin-left: 37px;
}
.main.index .container .index5 {
  margin-top: 40px;
  background: #fff;
  padding: 21px 22px 29px 21px;
  overflow: hidden;
}
.main.index .container .index5 .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index5 .head img {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
}
.main.index .container .index5 .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index5 .head span.more {
  float: right;
  font-size: 16px;
}
.main.index .container .index5 .head span.more a {
  color: #888888;
}
.main.index .container .index5 .head span.more a:hover {
  color: #247fe2;
}
.main.index .container .index5 .items {
  margin-top: 23px;
}
.main.index .container .index5 .items .item {
  width: 260px;
  padding: 20px 20px 15px;
  border: 1px solid #eaeaea;
  float: left;
}
.main.index .container .index5 .items .item > a {
  display: block;
  width: 219px;
  height: 143px;
}
.main.index .container .index5 .items .item .tit {
  margin-top: 13px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index5 .items .item .tit a {
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}
.main.index .container .index5 .items .item .tit a:hover {
  color: #247fe2;
}
.main.index .container .index5 .items .item .txt {
  margin-top: 7px;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
  width: 100%;
  height: 38px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main.index .container .index5 .items .item ul {
  padding-top: 15px;
  border-top: 1px dashed #e0e0e0;
  margin-top: 15px;
}
.main.index .container .index5 .items .item ul li {
  line-height: 24px;
  margin-left: 4px;
  width: 214px;
}
.main.index .container .index5 .items .item ul li a {
  display: block;
  width: 205px;
  font-size: 14px;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index5 .items .item ul li a:hover {
  color: #247fe2;
}
.main.index .container .index5 .items .item ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  margin: 12px 8px 0 -3px;
  float: left;
}
.main.index .container .index5 .items .item + .item {
  margin-left: 29px;
}
.main.index .container .index5 .items .item + ul {
  width: 280px;
  float: right;
}
.main.index .container .index5 .items .item + ul li {
  margin-bottom: 8px;
}
.main.index .container .index5 .items .item + ul li a {
  display: block;
  width: 265px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #555555;
}
.main.index .container .index5 .items .item + ul li a:hover {
  color: #247fe2;
}
.main.index .container .index5 .items .item + ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  float: left;
  margin: 10px 10px 0 0;
}
.main.index .container .index6 {
  background: #fff;
  margin-top: 40px;
  padding: 21px 22px 30px;
  overflow: hidden;
}
.main.index .container .index6 .left {
  border-right: 1px dotted #e0e0e0;
  padding-right: 19px;
  float: left;
  /* width: 550px; */
}
.main.index .container .index6 .left .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index6 .left .head img {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
}
.main.index .container .index6 .left .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index6 .left .content {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* 兼容ie */
.main.index .container .index6 .left .content .swiper-container,
.swiper-container-pointer-events.swiper-container-vertical {
  height: 330px;
  width: 295px;
}
.main.index .container .index6 .left .content .line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: #e0e0e0;
  left: 25px;
}
.main.index .container .index6 .left .content .duihua .duihua-item {
  position: relative;
  height: 152px;
  transition: 0.5s;
}
.main.index .container .index6 .left .content .duihua .duihua-item .avator-img {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 0;
  top: 9px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box {
  background: url("../img/images/message-box.png") no-repeat center;
  width: 244px;
  height: 152px;
  margin-left: 51px;
  padding-top: 9px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-head
  .tit {
  font-size: 14px;
  color: #fc8760;
  line-height: 22px;
  margin-left: 23px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-head
  .help {
  margin-left: 6px;
  background: #febe00;
  width: 19px;
  height: 19px;
  padding: 2px;
  border-radius: 3px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-head
  .help
  span {
  color: #b15b1a;
  line-height: 14px;
  font-size: 14px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-head
  .time {
  margin-left: 89px;
  color: #999999;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 22px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .ask
  .tit {
  margin-left: 25px;
  width: 22px;
  height: 22px;
  background: #3388fb;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 3px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .ask
  .tit
  span {
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .ask
  .txt {
  width: 162px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  line-height: 24px;
  -webkit-line-clamp: 3;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 8px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .answer
  .tit {
  margin-left: 25px;
  width: 22px;
  height: 22px;
  background: #6bc520;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 3px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .answer
  .tit
  span {
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
}
.main.index
  .container
  .index6
  .left
  .content
  .duihua
  .duihua-item
  .message-box
  .message-content
  .answer
  .txt {
  width: 168px;
  max-width: 168px;
  max-height: 60px;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
  -webkit-line-clamp: 3;
  margin-left: 10px;
}
.main.index .container .index6 .left .content ul {
  overflow: hidden;
  margin-top: -10px;
  margin-left: 22px;
}
.main.index .container .index6 .left .content ul li {
  width: 208px;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  margin-left: 4px;
}
.main.index .container .index6 .left .content ul li a {
  font-size: 14px;
  color: #555555;
}
.main.index .container .index6 .left .content ul li a:hover {
  color: #247fe2;
}
.main.index .container .index6 .left .content ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  float: left;
  margin: 14px 8px 0 0;
}
.main.index .container .index6 .right {
  margin-left: 26px;
  float: left;
  width: 580px;
}
.main.index .container .index6 .right .head {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index6 .right .head img {
  width: 20px;
  height: 22px;
  display: block;
  float: left;
}
.main.index .container .index6 .right .head p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  float: left;
}
.main.index .container .index6 .right .head span.more {
  float: right;
  font-size: 16px;
}
.main.index .container .index6 .right .head span.more a {
  color: #888888;
}
.main.index .container .index6 .right .head span.more a:hover {
  color: #247fe2;
}
.main.index .container .index6 .right .content {
  width: 100%;
  overflow: hidden;
}
.main.index .container .index6 .right .content ul {
  margin-top: 13px;
  float: left;
}
.main.index .container .index6 .right .content ul + ul {
  margin-left: 22px;
}
.main.index .container .index6 .right .content ul li {
  line-height: 28px;
  margin-left: 4px;
  width: 265px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main.index .container .index6 .right .content ul li a {
  font-size: 14px;
  color: #555555;
}
.main.index .container .index6 .right .content ul li a:hover {
  color: #247fe2;
}
.main.index .container .index6 .right .content ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  float: left;
  margin: 14px 8px 0 0;
}
.main.index .container .friend-link {
  background: #fff;
  margin-top: 40px;
  padding: 16px 23px 33px 24px;
}
.main.index .container .friend-link .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main.index .container .friend-link .head img:first-child {
  width: 21px;
  height: 21px;
  margin-left: 0;
}
.main.index .container .friend-link .head p {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
}
.main.index .container .friend-link .head img {
  margin-left: 10px;
  width: 1026px;
  height: 5px;
}
.main.index .container .friend-link .items {
  margin-top: 18px;
}
.main.index .container .friend-link .items a {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
  margin-right: 1.5em;
}
.page404 {
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
.page404 img {
  max-width: 1920px;
  height: 772px;
}
.page404 .btn {
  position: absolute;
  top: 364px;
  left: 58.2%;
  width: 250px;
  height: 74px;
  text-align: center;
  padding-top: 10px;
  background: #ff3b30;
  border-radius: 36px;
}
.page404 .btn a {
  color: #fff;
  font-size: 36px;
}
.main.information {
  background: #f5f5f5;
}
.main.information .bread {
  width: 1225px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
}
.main.information .bread img {
  width: 18px;
  height: 19px;
  display: inline-block;
  margin-right: 11px;
  position: relative;
  top: 3px;
}
.main.information .bread span {
  font-size: 18px;
  line-height: 36px;
  color: #939393;
}
.main.information .bread a {
  font-size: 18px;
  line-height: 36px;
  color: #939393;
}
.main.information .bread a:hover {
  color: #367dcd;
}
.main.information .container {
  width: 1225px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main.information-list .container .left {
  width: 860px;
  margin-top: 19px;
}
.main.information-list .container .left .list {
  background: #fff;
}
.main.information-list .container .left .list .item {
  padding-top: 21px;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dotted #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main.information-list .container .left .list .item > a {
  display: block;
  width: 252px;
  height: 175px;
  flex-shrink: 0;
}
.main.information-list .container .left .list .item .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 17px;
}
.main.information-list .container .left .list .item .box .tit {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 540px;
}

.main.information-list .container .left .list .item .box.no-img .tit{
  width: 800px !important;
}

.main.information-list .container .left .list .item .box.no-img .txt{
  max-width: 800px !important;
}

.main.information-list .container .left .list .item .box .txt {
  margin-top: 13px;
  line-height: 24px;
  -webkit-line-clamp: 3;
  display: block;
  max-height: 72px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.main.information-list .container .left .list .item .box .txt span {
  font-size: 14px;
  color: #666666;
}
.main.information-list .container .left .list .item .box .tag {
  margin-top: 21px;
  position: relative;
}
.main.information-list .container .left .list .item .box .tag span:first-child {
  margin-left: 0;
}
.main.information-list .container .left .list .item .box .tag span {
  font-size: 14px;
  color: #888888;
  margin-left: 20px;
}
.main.information-list .container .left .list .item .box .tag span img {
  width: 17px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.main.information-list .container .left .list .item:last-child {
  border-bottom: none;
}
.pagenation {
  margin: 57px auto 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.pagenation a {
  display: inline-block;
  margin: 0 5px;
  background-color: #fff;
  padding: 7px 12px;
  font-size: 12px;
}

.pagenation a:hover {
  background-color: #367dcd;
  color: #fff;
  font-weight: 700;
}

.on {
  background-color: #367dcd !important;
  color: #fff !important;
  font-weight: 700;
}
.main.information-list .container .right {
  margin-left: 20px;
  margin-top: 19px;
  width: 345px;
}
.main.information-list .container .right .right-item {
  background: #fff;
  padding: 12px 20px 19px;
}
.main.information-list .container .right .right-item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.main.information-list .container .right .right-item .head img:first-child {
  width: 21px;
  height: 21px;
  margin-left: 0;
}
.main.information-list .container .right .right-item .head p {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
}
/* .main.information-list .container .right .right-item1 {
  height: 610px;
} */
.main.information-list .container .right .right-item1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main.information-list .container .right .right-item1 .content img {
  max-height: 160px;
  margin-top: 18px;
}
.main.information-list .container .right .right-item1 .content .tit {
  font-size: 16px;
  color: #555555;
  line-height: 16px;
  margin-top: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.information-list .container .right .right-item1 .content .tit a {
  color: #555555;
}

.main.information-list .container .right .right-item1 .content ul {
  margin-left: 4px;
  margin-top: 20px;
}
.main.information-list .container .right .right-item1 .content ul li {
  line-height: 30px;
  margin-left: 4px;
  position: relative;
}
.main.information-list .container .right .right-item1 .content ul li a {
  font-size: 14px;
  color: #555555;
  display: inline-block;
  width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.information-list .container .right .right-item1 .content ul li a:hover {
  color: #247fe2;
}
.main.information-list .container .right .right-item1 .content ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -13px;
  right: 5px;
}
.main.information-list .container .right .right-item2,
.main.information-list .container .right .right-item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 15px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  a
  img,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  a
  img {
  display: block;
  width: 120px;
  height: 85px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  .boxx,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  .boxx {
  position: relative;
  margin-left: 17px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  .boxx
  .box,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  .boxx
  .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  .boxx
  .box
  .tit,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  .boxx
  .box
  .tit {
  width: 112px;
  white-space: nowrap;
  overflow: hidden;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  .boxx
  .txt,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  .boxx
  .txt {
  margin-top: 10px;
  display: -webkit-box;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item.hover
  .boxx
  .txt
  a,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item.hover
  .boxx
  .txt
  a {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
}
.main.information-list .container .right .right-item2 .content .items .item,
.main.information-list .container .right .right-item4 .content .items .item {
  position: relative;
  margin-top: 14px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  a
  img,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  a
  img {
  display: none;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  .paim,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  .paim {
  width: 19px;
  height: 18px;
  background: #b7d3fa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  .tit,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  .tit {
  margin-left: 35px;
  position: relative;
  top: -4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  .tit
  a,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  .tit
  a {
  font-size: 14px;
  color: #555555;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  .tit
  a:hover,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  .tit
  a:hover {
  color: #247fe2;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item
  .txt,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item
  .txt {
  display: none;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item:nth-child(1)
  .boxx
  .box
  .paim,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item:nth-child(1)
  .boxx
  .box
  .paim {
  background: #ff2202;
  top: -2px;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item:nth-child(2)
  .paim,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item:nth-child(2)
  .paim {
  background: #ff7302;
}
.main.information-list
  .container
  .right
  .right-item2
  .content
  .items
  .item:nth-child(3)
  .paim,
.main.information-list
  .container
  .right
  .right-item4
  .content
  .items
  .item:nth-child(3)
  .paim {
  background: #ffcc02;
}
.main.information-list .container .right .right-item3 {
  /*height: 279px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 27px;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main.information-list .container .right .right-item3 .items-box {
  width: 100%;
}
.main.information-list .container .right .right-item3 .items-box span {
  padding: 8px 15px;
  border-radius: 10px;
  background: #f0f4f9;
  float: left;
  margin-top: 15px;
}
.main.information-list .container .right .right-item3 .items-box span:hover {
  background: #367dcd;
}
.main.information-list .container .right .right-item3 .items-box span:hover a {
  color: #fff;
}
.main.information-list .container .right .right-item3 .items-box span + span {
  margin-left: 5px;
}
.main.information-list .container .right .right-item3 .items-box span a {
  font-size: 14px;
  line-height: 14px;
  color: #367dcd;
}
.main.information-list
  .container
  .right
  .right-item3
  .items-box
  .items
  + .items {
  margin-top: 12px;
}
.main.information-list .container .right .right-item + .right-item {
  margin-top: 15px;
}
.main.information-detail .container {
  padding-bottom: 39px;
}
.main.information-detail .container .left-items {
  width: 860px;
}
.main.information-detail .container .left-items article {
  background: #fff;
  padding-bottom: 36px;
  margin-top: 19px;
}
.main.information-detail .container .left-items article h1 {
  padding-top: 42px;
  margin-left: 26px;
  font-size: 28px;
  color: #333333;
  line-height: 36px;
  font-weight: bold;
}
.main.information-detail .container .left-items article .tag {
  margin-top: 27px;
  margin-left: 25px;
  position: relative;
}
.main.information-detail .container .left-items article .tag span:first-child {
  margin-left: 0;
}
.main.information-detail .container .left-items article .tag span {
  font-size: 14px;
  color: #888888;
  margin-left: 20px;
}
.main.information-detail .container .left-items article .tag span img {
  width: 17px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.main.information-detail .container .left-items article .content {
  margin-top: 21px;
  margin-left: 25px;
  width: 804px;
  border-top: 1px dotted #e5e5e5;
  border-bottom: 1px dotted #e5e5e5;
}
.main.information-detail .container .left-items article .content p:first-child {
  margin-top: 35px;
}
.main.information-detail .container .left-items article .content p {
  color: #333333;
  font-size: 15px;
  line-height: 30px;
  /*text-indent: 2em;*/
  margin-bottom: 3em;
}
.main.information-detail .container .left-items article .content img {
  /*width: 799px;*/
  max-width: 100%;
  margin: 0 auto 40px;
  height: auto;
}
.main.information-detail .container .left-items article .content-bottom {
  padding-top: 29px;
  margin-left: 25px;
  width: 96%;
}
.main.information-detail .container .left-items article .content-bottom a {
  display: inline-block;
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  max-width: 46em;
  text-overflow: ellipsis;
}
.main.information-detail .container .left-items article .content-bottom .pre,
.main.information-detail .container .left-items article .content-bottom .next {
  display: flex;
}
.main.information-detail
  .container
  .left-items
  article
  .content-bottom
  .pre
  span {
  font-size: 16px;
  line-height: 36px;
  color: #367dcd;
}
.main.information-detail .container .left-items article .content-bottom .pre a {
  font-size: 16px;
  line-height: 36px;
  color: #666666;
}
.main.information-detail
  .container
  .left-items
  article
  .content-bottom
  .pre
  a:hover {
  color: #367dcd;
}
.main.information-detail
  .container
  .left-items
  article
  .content-bottom
  .next
  span {
  font-size: 16px;
  line-height: 36px;
  color: #367dcd;
}
.main.information-detail
  .container
  .left-items
  article
  .content-bottom
  .next
  a {
  font-size: 16px;
  line-height: 36px;
  color: #666666;
}
.main.information-detail
  .container
  .left-items
  article
  .content-bottom
  .next
  a:hover {
  color: #367dcd;
}
.main.information-detail .container .left-items article .discla {
  position: relative;
  padding-top: 22px;
  width: 810px;
  margin: 50px auto 0;
}
.main.information-detail .container .left-items article .discla .mz_tits {
  height: 36px;
  width: 125px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -62px;
  background: #fff;
}
.main.information-detail .container .left-items article .discla .mz_tits div {
  float: left;
  font-size: 20px;
  line-height: 36px;
  margin: 0 18px;
  color: #666666;
}
.main.information-detail .container .left-items article .discla .mz_tits span {
  float: left;
  display: block;
  width: 4px;
  height: 4px;
  background: #ededed;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-top: 20px;
}
.main.information-detail .container .left-items article .discla p {
  color: #666666;
  padding: 30px 28px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  border-image: initial;
  font-size: 14px;
  line-height: 24px;
}
.main.information-detail .container .left-items .guess-you-like {
  margin-top: 15px;
  background: #fff;
  padding-bottom: calc(28px + 35px - 8px);
  position: relative;
}
.main.information-detail .container .left-items .guess-you-like .items-head {
  position: relative;
  left: 25px;
  top: 21px;
}
.main.information-detail
  .container
  .left-items
  .guess-you-like
  .items-head
  img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.main.information-detail .container .left-items .guess-you-like .items-head p {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
}
.main.information-detail .container .left-items .guess-you-like .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 809px;
  margin: 0 auto;
  padding-top: 23px;
  top: 28px;
  border-top: 1px solid #e5e5e5;
}
.main.information-detail .container .left-items .guess-you-like .items ul {
  min-height: 337px;
  max-width: 814px;
}
.main.information-detail .container .left-items .guess-you-like .items ul + ul {
  margin-left: 72px;
}
.main.information-detail .container .left-items .guess-you-like .items ul li {
  margin-left: 4px;
  position: relative;
  float: left;
  margin-right: 70px;
}
.main.information-detail
  .container
  .left-items
  .guess-you-like
  .items
  ul
  li:nth-of-type(2n) {
  margin-right: 0px;
}
.main.information-detail .container .left-items .guess-you-like .items ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
  display: inline-block;
  width: 325px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 36px;
}
.main.information-detail
  .container
  .left-items
  .guess-you-like
  .items
  ul
  li
  a:hover {
  color: #247fe2;
}
.main.information-detail
  .container
  .left-items
  .guess-you-like
  .items
  ul
  li
  .time {
  float: right;
  color: #888888;
  line-height: 30px;
}
.main.information-detail
  .container
  .left-items
  .guess-you-like
  .items
  ul
  li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -13px;
  right: 5px;
}
.main.information-detail .container .left-items .about-news {
  margin-top: 15px;
  height: 564px;
  background: #fff;
  position: relative;
}
.main.information-detail .container .left-items .about-news .items-head {
  position: relative;
  left: 25px;
  top: 21px;
}
.main.information-detail .container .left-items .about-news .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.main.information-detail .container .left-items .about-news .items-head p {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
}
.main.information-detail .container .left-items .about-news .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 809px;
  margin: 0 auto;
  padding-top: 37px;
  top: 28px;
  border-top: 1px solid #e5e5e5;
}
.main.information-detail .container .left-items .about-news .items .item {
  position: relative;
  width: 370px;
  height: 82px;
  flex: 1 0 50%;
  margin-bottom: 34px;
}
.main.information-detail
  .container
  .left-items
  .about-news
  .items
  .item
  > a
  img {
  width: 120px;
  /*height: 82px;*/
}
.main.information-detail .container .left-items .about-news .items .item .tit {
  font-size: 14px;
  line-height: 26px;
  position: absolute;
  width: 232px;
  left: 137px;
  top: -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 51px;
}
.main.information-detail
  .container
  .left-items
  .about-news
  .items
  .item
  .tit
  a {
  color: #333333;
}
.main.information-detail
  .container
  .left-items
  .about-news
  .items
  .item
  .tit
  a:hover {
  color: #247fe2;
}
.main.information-detail .container .left-items .about-news .items .item .time {
  position: absolute;
  width: 232px;
  left: 137px;
  top: 67px;
}
.main.information-detail
  .container
  .left-items
  .about-news
  .items
  .item
  .time
  img {
  width: 13px;
  height: 13px;
  display: inline-block;
}
.main.information-detail
  .container
  .left-items
  .about-news
  .items
  .item
  .time
  .spec-time {
  position: relative;
  top: -1px;
  font-size: 14px;
  color: #b0b0b0;
}

.main.information-detail .container .right-items {
  width: 345px;
  margin-left: 20px;
  margin-top: 19px;
}
.main.information-detail .container .right-items .rt1 {
  /*height: 1320px;*/
  padding-bottom: 32px;
  background: #fff;
}
.main.information-detail .container .right-items .rt1 .items-head {
  position: relative;
  left: 19px;
  height: 21px;
  top: 15px;
}
.main.information-detail .container .right-items .rt1 .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.main.information-detail .container .right-items .rt1 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.main.information-detail .container .right-items .rt1 .items {
  width: 305px;
  margin: 0 auto;
  position: relative;
  top: 34px;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
}
.main.information-detail .container .right-items .rt1 .items .item {
  border-bottom: 1px dotted #e5e5e5;
  padding-bottom: 25px;
  margin-top: 25px;
}
.main.information-detail .container .right-items .rt1 .items .item > a {
  width: 305px;
  height: 201px;
  display: block;
}
/* .main.information-detail .container .right-items .rt1 .items .item > a img {
  width: 305px;
  height: 201px;
} */
.main.information-detail .container .right-items .rt1 .items .item .txt {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 54px;
}
.main.information-detail .container .right-items .rt1 .items .item .txt a {
  color: #555555;
  font-size: 18px;
}
.main.information-detail
  .container
  .right-items
  .rt1
  .items
  .item
  .txt
  a:hover {
  color: #367dcd;
}
.main.information-detail .container .right-items .rt1 .items .item:last-child {
  border-bottom: none;
}
.main.information-detail .container .right-items .rt1 .items .item:first-child {
  margin-top: 0;
}
.main.information-detail .container .right-items .rt2 {
  padding-bottom: calc(34px + 15px);
  background: #fff;
  margin-top: 15px;
}
.main.information-detail .container .right-items .rt2 .items-head {
  position: relative;
  left: 19px;
  height: 21px;
  top: 15px;
}
.main.information-detail .container .right-items .rt2 .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.main.information-detail .container .right-items .rt2 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.main.information-detail .container .right-items .rt2 .items {
  position: relative;
  width: 305px;
  margin: 0 auto;
  padding-top: 15px;
  top: 34px;
  border-top: 1px solid #e5e5e5;
}
.main.information-detail .container .right-items .rt2 .items ul {
  width: 305px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.information-detail .container .right-items .rt2 .items ul + ul {
  margin-left: 72px;
}
.main.information-detail .container .right-items .rt2 .items ul li {
  margin-left: 4px;
}
.main.information-detail .container .right-items .rt2 .items ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
}
.main.information-detail .container .right-items .rt2 .items ul li a:hover {
  color: #247fe2;
}
.main.information-detail .container .right-items .rt2 .items ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -3px;
  right: 3px;
}
.main.information-detail .container .right-items .rt3 {
  background: #fff;
  padding: 12px 20px 30px;
}
.main.information-detail .container .right-items .rt3 .items-head {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}
.main.information-detail .container .right-items .rt3 .items-head img {
  width: 20px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 5px;
}
.main.information-detail .container .right-items .rt3 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 11px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 15px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  a
  img {
  display: block;
  width: 120px;
  height: 85px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  .boxx {
  position: relative;
  margin-left: 17px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  .boxx
  .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  .boxx
  .box
  .tit {
  width: 112px;
  white-space: nowrap;
  overflow: hidden;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  .boxx
  .txt {
  margin-top: 10px;
  display: -webkit-box;
  height: 36px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item.hover
  .boxx
  .txt
  a {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
}
.main.information-detail .container .right-items .rt3 .content .items .item {
  position: relative;
  margin-top: 14px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  a
  img {
  display: none;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  .paim {
  width: 19px;
  height: 18px;
  background: #b7d3fa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  .tit {
  margin-left: 35px;
  position: relative;
  top: -4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  .tit
  a {
  font-size: 14px;
  color: #555555;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  .tit
  a:hover {
  color: #247fe2;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item
  .txt {
  display: none;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item:nth-child(1)
  .boxx
  .box
  .paim {
  background: #ff2202;
  top: -2px;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item:nth-child(2)
  .paim {
  background: #ff7302;
}
.main.information-detail
  .container
  .right-items
  .rt3
  .content
  .items
  .item:nth-child(3)
  .paim {
  background: #ffcc02;
}
.main.hot-news-list .add {
  background: #fff;
  width: 1225px;
  margin: 0 auto;
  margin-top: 15px;
  height: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 27px 20px 31px 24px;
}
.main.hot-news-list .add .add-item1 {
  position: relative;
}
.main.hot-news-list .add .add-item1 img {
  width: 616px;
  height: 457px;
}
.main.hot-news-list .add .add-item1 .txt-box {
  width: 100%;
  height: 145px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  padding: 21px 28px 18px 28px;
}
.main.hot-news-list .add .add-item1 .txt-box .tit a {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  line-height: 36px;
}
.main.hot-news-list .add .add-item1 .txt-box .txt {
  margin-top: 6px;
  overflow: hidden;
  max-height: 70px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main.hot-news-list .add .add-item1 .txt-box .txt a {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
}
.main.hot-news-list .add .add-item2 {
  margin-left: 20px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main.hot-news-list .add .add-item2 .item {
  position: relative;
}
.main.hot-news-list .add .add-item2 .item + .item {
  margin-top: 12px;
}
.main.hot-news-list .add .add-item2 .item img {
  width: 220px;
  height: 145px;
}
.main.hot-news-list .add .add-item2 .item .txt-box {
  position: absolute;
  bottom: 0;
  padding: 12px 16px 14px 13px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.main.hot-news-list .add .add-item2 .item .txt-box .tit a {
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}
.main.hot-news-list .add .add-item3 {
  margin-left: 20px;
}
.main.hot-news-list .add .add-item3 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main.hot-news-list .add .add-item3 .items .item {
  position: relative;
  width: 148px;
}
.main.hot-news-list .add .add-item3 .items .item img {
  width: 148px;
  height: 118px;
}
.main.hot-news-list .add .add-item3 .items .item .txt-box {
  padding: 5px 20px 3px 10px;
  height: 44px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main.hot-news-list .add .add-item3 .items .item .txt-box .tit {
  word-break: break-all;
}
.main.hot-news-list .add .add-item3 .items .item .txt-box .tit a {
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}
.main.hot-news-list .add .add-item3 .items .item + .item {
  margin-left: 9px;
}
.main.hot-news-list .add .add-item3 ul {
  margin-top: 20px;
}
.main.hot-news-list .add .add-item3 ul li {
  width: 279px;
  padding-left: 6px;
}
.main.hot-news-list .add .add-item3 ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 36px;
}
.main.hot-news-list .add .add-item3 ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -3px;
  right: 6px;
}
.main.hot-news-list .container .left .list .item-head {
  position: relative;
  left: 19px;
  height: 55px;
  width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.main.hot-news-list .container .left .list .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 7px;
}
.main.hot-news-list .container .left .list .item-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.main.hot-news-detail .container .right-items .rt1 {
  margin-top: 15px;
}
.main.hot-news-detail .container .right-items .rt-add {
  background: #fff;
  /*height: 274px;*/
  padding-bottom: 31px;
}
.main.hot-news-detail .container .right-items .rt-add .items-head {
  position: relative;
  left: 19px;
  height: 55px;
  top: 9px;
}
.main.hot-news-detail .container .right-items .rt-add .items-head img {
  width: 20px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 5px;
}
.main.hot-news-detail .container .right-items .rt-add .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 11px;
}
.main.hot-news-detail .container .right-items .rt-add .items {
  width: 305px;
  margin: 0 auto;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main.hot-news-detail .container .right-items .rt-add .items ul {
  width: 111px;
  margin-top: 18px;
}
.main.hot-news-detail .container .right-items .rt-add .items ul + ul {
  margin-left: 52px;
}
.main.hot-news-detail .container .right-items .rt-add .items ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -3px;
  right: 3px;
}
.main.hot-news-detail .container .right-items .rt-add .items ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
}
/* .main.search-result .right .right-item1,
.main.search-result .right .right-item2 {
  height: 445px !important;
} */
.main.search-result .right .right-item1 ul,
.main.search-result .right .right-item2 ul {
  padding-top: 10px;
  position: relative;
}
.main.search-result .right .right-item1 ul li,
.main.search-result .right .right-item2 ul li {
  line-height: 30px;
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 13px;
}
.main.search-result .right .right-item1 ul li:before,
.main.search-result .right .right-item2 ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -3px;
  right: 10px;
}
.main.search-result .right .right-item1 ul li a,
.main.search-result .right .right-item2 ul li a {
  color: #555555;
  font-size: 14px;
}
.main.search-result .right .right-item1 ul li a:hover,
.main.search-result .right .right-item2 ul li a:hover {
  color: #367dcd;
}
.main.search-result .right .right-item1 ul li span.time,
.main.search-result .right .right-item2 ul li span.time {
  position: absolute;
  right: 0;
}
.main.search-no-result .container {
  padding-bottom: 49px;
}
.main.search-no-result .container .left .list {
  padding-top: 22px;
}
.main.search-no-result .container .left .list .list-head {
  margin-left: 25px;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.main.search-no-result .container .left .list .list-head img {
  position: relative;
  top: 8px;
  width: 21px;
  height: 21px;
}
.main.search-no-result .container .left .list .list-head .tit {
  margin-left: 10px;
  width: 778px;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
}
.main.search-no-result .container .left .no-result {
  height: 380px;
  padding-top: 102px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main.search-no-result .container .left .no-result img {
  width: 166px;
  height: 122px;
}
.main.search-no-result .container .left .no-result .no {
  margin-top: 21px;
  font-size: 22px;
  color: #333333;
}
.main.search-no-result .container .left .no-result .please {
  color: #888888;
  font-size: 16px;
}
.main.search-no-result .container .left .list {
  margin-top: 15px;
}
