header {
  height: 69px;
  width: 100%;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-top: 2px solid #0092fe;
  position: relative;
  z-index: 9;
}
header .container {
  width: 1345px;
  margin: 0 auto;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header .container .logo .img img {
  width: 165px;
  height: 45px;
}
header .container .titile {
  margin-left: 7px;
  width: 130px;
  position: relative;
  top: 3px;
}
header .container .titile .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff7612;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: -5px;
}
header .container .titile .tit {
  color: #ff7612;
  font-size: 28px;
  line-height: 28px;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 6px;
}
header .container .titile .dot.ques {
  background: #00a2e8;
}
header .container .titile .tit.ques {
  color: #00a2e8;
}
header .container .nav {
  margin-left: 40px;
  margin-top: 10px;
}
header .container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header .container .nav ul li.arrow-down {
  margin-right: 23px;
  position: relative;
}
header .container .nav ul li.arrow-down:nth-child(n + 11) {
  display: none;
}
header .container .nav ul li.arrow-down img.hover {
  transform: rotate(180deg);
}
header .container .nav ul li.arrow-down img {
  transition: 0.2s;
  width: 8px;
  height: 5px;
  display: inline-block;
  position: relative;
  top: -2px;
}
header .container .nav ul li.arrow-down > a {
  display: inline-block;
  font-size: 14px;
  text-align: right;
  color: #333333;
  white-space: nowrap;
}
header .container .nav ul li.arrow-down ul.sub-menu {
  background-color: #fff;
  left: calc(-100px + 50%);
  display: none;
  line-height: 1.8;
  position: absolute;
  top: 48px;
  width: 200px;
  z-index: 11;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  letter-spacing: -0.8em;
  border-radius: 5px;
}
header .container .nav ul li.arrow-down ul.sub-menu:before {
  background: #fff none repeat scroll 0 0;
  box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  height: 10px;
  left: 82px;
  position: absolute;
  top: -12px;
  transform: rotate(45deg) translate(6px, 6px);
  width: 10px;
}
header .container .nav ul li.arrow-down ul.sub-menu li {
  padding: 5px 6px;
  border-right: 1px dashed #eee;
  letter-spacing: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 179px;
}
header .container .btn {
  width: 51px;
  height: 24px;
  background: #dce6f3;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 20px;
  padding-top: 2px;
}
header .container .btn a {
  font-size: 14px;
  color: #367dcd;
}
footer {
  background: #27313b;
  padding-top: 30px;
  width: 100%;
}
footer .footer-center {
  text-align: center;
  font-size: 14px;
  color: #bdc3ca;
  line-height: 26px;
}
.topic-list {
  width: 100%;
  /*max-width: 1920px;*/
  padding-top: 22px;
  padding-bottom: 71px;
  background: #f5f5f5;
  position: relative;
}
.topic-list .swip-box1 .swiper-container.big {
  width: 1345px;
  margin: 0 auto;
  max-height: 460px;
  --swiper-pagination-color: #fff;
}
.topic-list .swip-box1 .swiper-container.big .swiper-wrapper .swiper-slide img {
  width: 1345px;
  height: 460px;
}
.topic-list .swip-box1 .swiper-container.big .swiper-pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.topic-list
  .swip-box1
  .swiper-container.big
  .swiper-pagination
  .swiper-pagination-switch {
  width: 28px;
  height: 7px;
  border-radius: 3px;
  opacity: 0.5;
  background: #fff;
}
.topic-list
  .swip-box1
  .swiper-container.big
  .swiper-pagination
  .swiper-active-switch {
  opacity: 1;
}
.topic-list .swip-box2 {
  position: relative;
  width: 1345px;
  margin: 29px auto 0;
}
.topic-list .swip-box2 .swiper-container.small {
  width: 1136px;
  max-height: 93px;
}
.topic-list .swip-box2 .swiper-container.small .swiper-wrapper .swiper-slide {
  width: 165px;
}
.topic-list
  .swip-box2
  .swiper-container.small
  .swiper-wrapper
  .swiper-slide
  img {
  width: 145px;
  height: 93px;
}
.topic-list .swip-box2 .swiper-button-prev {
  background: url(../img/images/index_tab_l.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}
.topic-list .swip-box2 .swiper-button-next {
  background: url(../img/images/index_tab_r.png) no-repeat left top;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}
.topic-list .swip-box2 .swiper-button-next:focus {
  outline: none;
}
.topic-list .swip-box2 .swiper-button-next:after {
  font-size: 16px;
  font-weight: bold;
  color: #a8a8a8;
}
.topic-list .tit {
  margin: 51px auto 0;
  width: 422px;
}
.topic-list .tit p.zh {
  font-size: 36px;
  color: #333333;
  font-weight: bold;
  display: inline;
  margin-right: 8px;
}
.topic-list .tit p.en {
  font-size: 36px;
  color: #888888;
  font-weight: 400;
  display: inline;
}
.topic-list .arrow-down {
  width: 32px;
  height: 25px;
  margin: 21px auto 0;
}
.topic-list .arrow-down img {
  width: 29px;
  height: 17px;
}
.topic-list .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1350px;
  margin: 25px auto 0;
  padding: 0 60px;
}
.topic-list .list-items .list-item:nth-child(3n + 2) {
  margin: 0 58px;
}
.topic-list .list-items .list-item:nth-child(n + 4) {
  margin-top: 40px;
}
.topic-list .list-items .list-item:nth-child(1) .tag {
  background: #f47619;
}
.topic-list .list-items .list-item {
  height: 385px;
  width: 370px;
  background: #fff;
  flex: 0 1 370px;
  position: relative;
  box-shadow: 0 1px 3px #d1d1d1;
}
.topic-list .list-items .list-item:hover {
  box-shadow: 0 4px 10px #bbbbbb;
}
.topic-list .list-items .list-item:hover .tit a {
  color: #ff0052;
}
.topic-list .list-items .list-item img {
  width: 370px;
  height: 245px;
}
.topic-list .list-items .list-item .tag {
  width: 59px;
  height: 25px;
  background: #7b7d7e;
  opacity: 0.9;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}
.topic-list .list-items .list-item .tit {
  width: 312px;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  margin-left: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topic-list .list-items .list-item .tit a {
  color: #333333;
}
.topic-list .list-items .list-item .txt {
  width: 312px;
  max-height: 47px;
  margin-left: 26px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.topic-list .list-items .pagenation {
  margin: 57px auto 0;
  width: 535px;
}
.topic-list .list-items .pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.topic-list .list-items .pagenation ul span {
  margin-right: 10px;
  font-size: 12px;
  line-height: 26px;
}
.topic-list .list-items .pagenation ul span a {
  color: #666666;
}
.topic-list .list-items .pagenation ul li {
  margin-right: 10px;
  background: #fff;
  padding: 8px 12px;
  white-space: nowrap;
  text-align: center;
}
.topic-list .list-items .pagenation ul li:hover {
  background: #367dcd;
}
.topic-list .list-items .pagenation ul li:hover a {
  color: #fff;
}
.topic-list .list-items .pagenation ul li a {
  color: #666666;
}
.topic-list .past-items {
  width: 1225px;
  height: 255px;
  margin: 64px auto 0;
  background: #fff;
  position: relative;
}
.topic-list .past-items p {
  position: relative;
  left: 15px;
  top: 34px;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #333333;
}
.topic-list .past-items .swip-box3 {
  position: relative;
  width: 1190px;
  top: 52px;
  left: 16px;
}
.topic-list .past-items .swip-box3 .swiper-container.bottom {
  width: 1150px;
  max-height: 142px;
}
.topic-list
  .past-items
  .swip-box3
  .swiper-container.bottom
  .swiper-wrapper
  .swiper-slide {
  width: 220px;
  position: relative;
  /*padding-right: 10px;*/
  box-sizing: border-box;
  margin-right: 10px;
}
/*.topic-list*/
/*  .past-items*/
/*  .swip-box3*/
/*  .swiper-container.bottom*/
/*  .swiper-wrapper*/
/*  .swiper-slide.swiper-slide-active{*/
/*    margin-left: 0;*/
/*  }*/
.topic-list
  .past-items
  .swip-box3
  .swiper-container.bottom
  .swiper-wrapper
  .swiper-slide
  img {
  max-width: 220px;
  /*height: 142px;*/
}
.topic-list
  .past-items
  .swip-box3
  .swiper-container.bottom
  .swiper-wrapper
  .swiper-slide
  .tag {
  width: 74px;
  height: 25px;
  background: #e96d13;
  opacity: 0.9;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}
.topic-list
  .past-items
  .swip-box3
  .swiper-container.bottom
  .swiper-wrapper
  .swiper-slide
  .tit {
  position: absolute;
  width: 220px;
  height: 60px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 20px 11px 18px;
}
.topic-list
  .past-items
  .swip-box3
  .swiper-container.bottom
  .swiper-wrapper
  .swiper-slide
  .tit
  a {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  /*2行省略*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.topic-list .past-items .swip-box3 .swiper-button-prev {
  background: url(../img/images/feel3.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}

.topic-list .past-items .swip-box3 .swiper-button-next {
  background: url(../img/images/feel4.png) no-repeat left top;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}

.topic-detail {
  width: 100%;
  /*max-width: 1920px;*/
  padding-top: 14px;
  padding-bottom: 41px;
  background: #f5f5f5;
  position: relative;
}
.topic-detail .bread {
  width: 1225px;
  margin: 0 auto;
  position: relative;
}
.topic-detail .bread img {
  width: 18px;
  height: 19px;
  display: inline-block;
  margin-right: 11px;
  position: relative;
  top: 3px;
}
.topic-detail .bread span {
  font-size: 18px;
  line-height: 36px;
  color: #939393;
}
.topic-detail .bread a {
  font-size: 18px;
  line-height: 36px;
  color: #939393;
}
.topic-detail .bread a:hover {
  color: #367dcd;
}
.topic-detail .container {
  width: 1225px;
  margin: 19px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.topic-detail .container .left {
  width: 860px;
}
.topic-detail .container .left article {
  background: #fff;
  padding-bottom: 36px;
}
.topic-detail .container .left article img.art-title {
  /*width: 860px;*/
  /*height: 470px;*/
  max-width: 100%;
  margin: 0 auto;
}
.topic-detail .container .left article h1 {
  margin-top: 42px;
  margin-left: 26px;
  font-size: 28px;
  color: #333333;
  line-height: 36px;
}
.topic-detail .container .left article .tag {
  margin-top: 27px;
  margin-left: 25px;
  position: relative;
}
.topic-detail .container .left article .tag span:first-child {
  margin-left: 0;
}
.topic-detail .container .left article .tag span {
  font-size: 14px;
  color: #888888;
  margin-left: 20px;
}
.topic-detail .container .left article .tag span img {
  width: 17px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.topic-detail .container .left article .content {
  margin-top: 21px;
  margin-left: 25px;
  width: 804px;
  border-top: 1px dotted #e5e5e5;
  border-bottom: 1px dotted #e5e5e5;
}
.topic-detail .container .left article .content p:first-child {
  margin-top: 35px;
}
.topic-detail .container .left article .content p {
  color: #333333;
  font-size: 15px;
  line-height: 30px;
  text-indent: 2em;
  margin-bottom: 3em;
}
.topic-detail .container .left article .content img {
  /*width: 799px;*/
  /*height: 533px;*/
  margin: 0 auto 40px;
  max-width: 804px;
}
.topic-detail .container .left article .content-bottom {
  padding-top: 29px;
  margin-left: 25px;
}
.topic-detail .container .left article .content-bottom .pre span {
  font-size: 16px;
  line-height: 36px;
  color: #367dcd;
}
.topic-detail .container .left article .content-bottom .pre {
  font-size: 16px;
}
.topic-detail .container .left article .content-bottom .pre a {
  font-size: 16px;
  line-height: 36px;
  color: #666666;
}
.topic-detail .container .left article .content-bottom .pre a:hover {
  color: #367dcd;
}
.topic-detail .container .left article .content-bottom .next span {
  font-size: 16px;
  line-height: 36px;
  color: #367dcd;
}
.topic-detail .container .left article .content-bottom .next {
  font-size: 16px;
}
.topic-detail .container .left article .content-bottom .next a {
  font-size: 16px;
  line-height: 36px;
  color: #666666;
}
.topic-detail .container .left article .content-bottom .next a:hover {
  color: #367dcd;
}
.topic-detail .container .left article .discla {
  position: relative;
  padding-top: 22px;
  width: 810px;
  margin: 50px auto 0;
}
.topic-detail .container .left article .discla .mz_tits {
  height: 36px;
  width: 125px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -62px;
  background: #fff;
}
.topic-detail .container .left article .discla .mz_tits div {
  color: #333;
  float: left;
  font-size: 20px;
  line-height: 36px;
  margin: 0 18px;
  color: #666666;
}
.topic-detail .container .left article .discla .mz_tits span {
  float: left;
  display: block;
  width: 4px;
  height: 4px;
  background: #ededed;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-top: 20px;
}
.topic-detail .container .left article .discla p {
  color: #666666;
  padding: 30px 28px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  border-image: initial;
  font-size: 14px;
  line-height: 24px;
}
.topic-detail .container .left .about {
  margin-top: 15px;
  height: 1183px;
  background: #fff;
  position: relative;
}
.topic-detail .container .left .about .items-head {
  position: relative;
  left: 25px;
  top: 21px;
}
.topic-detail .container .left .about .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.topic-detail .container .left .about .items-head p {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
}
.topic-detail .container .left .about .items {
  position: relative;
  width: 809px;
  margin: 0 auto;
  padding-top: 17px;
  top: 25px;
  border-top: 1px solid #e5e5e5;
}
.topic-detail .container .left .about .items .item {
  height: 139px;
  width: 809px;
  border-bottom: 1px dotted #e5e5e5;
  padding-bottom: 159px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.topic-detail .container .left .about .items .item > a {
  display: block;
}
.topic-detail .container .left .about .items .item > a img {
  width: 210px;
  height: 139px;
}
.topic-detail .container .left .about .items .item .tit {
  position: relative;
  left: 29px;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 560px;
}
.topic-detail .container .left .about .items .item .tit a {
  color: #333333;
}
.topic-detail .container .left .about .items .item .tit a:hover {
  color: #367dcd;
}
.topic-detail .container .left .about .items .item .txt {
  position: relative;
  left: 29px;
  top: 19px;
  width: 560px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.topic-detail .container .left .about .items .item .tag {
  position: relative;
  left: 29px;
  top: 33px;
}
.topic-detail .container .left .about .items .item .tag span.res {
  margin-left: 0;
}
.topic-detail .container .left .about .items .item .tag span {
  font-size: 14px;
  color: #888888;
  line-height: 24px;
  margin-left: 20px;
}
.topic-detail .container .left .about .items .item .tag span img {
  width: 17px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 1px;
  float: none;
}
.topic-detail .container .left .about .items .item:last-child {
  border-bottom: none;
}
.topic-detail .container .right {
  width: 345px;
  margin-left: 20px;
}
.topic-detail .container .right .rt1 {
  height: 930px;
  background: #fff;
}
.topic-detail .container .right .rt1 .items-head {
  position: relative;
  left: 19px;
  height: 21px;
  top: 15px;
}
.topic-detail .container .right .rt1 .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.topic-detail .container .right .rt1 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 7px;
}
.topic-detail .container .right .rt1 .items {
  width: 305px;
  margin: 0 auto;
  position: relative;
  top: 34px;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
}
.topic-detail .container .right .rt1 .items .item {
  border-bottom: 1px dotted #e5e5e5;
  padding-bottom: 25px;
  margin-top: 25px;
}
.topic-detail .container .right .rt1 .items .item > a {
  width: 305px;
  height: 201px;
  display: block;
}
.topic-detail .container .right .rt1 .items .item > a img {
  /*width: 305px;*/
  max-width: 100%;
  /*height: 201px;*/
}
.topic-detail .container .right .rt1 .items .item .txt {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topic-detail .container .right .rt1 .items .item .txt a {
  color: #555555;
  font-size: 18px;
}
.topic-detail .container .right .rt1 .items .item .txt a:hover {
  color: #367dcd;
}
.topic-detail .container .right .rt1 .items .item:last-child {
  border-bottom: none;
}
.topic-detail .container .right .rt1 .items .item:first-child {
  margin-top: 0;
}
.topic-detail .container .right .rt2 {
  /*height: 545px;*/
  padding-bottom: calc(37px + 34px);
  background: #fff;
  margin-top: 15px;
}
.topic-detail .container .right .rt2 .items-head {
  position: relative;
  left: 19px;
  height: 21px;
  top: 15px;
}
.topic-detail .container .right .rt2 .items-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.topic-detail .container .right .rt2 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 7px;
}
.topic-detail .container .right .rt2 .items {
  width: 305px;
  margin: 0 auto;
  position: relative;
  top: 34px;
  border-top: 1px solid #ededed;
  padding-top: 17px;
}
.topic-detail .container .right .rt2 .items .item:first-child {
  height: 243px;
}
.topic-detail .container .right .rt2 .items .item:first-child img {
  width: 305px;
  position: relative;
  left: -10px;
}
.topic-detail .container .right .rt2 .items .item:first-child a {
  top: -9px;
}
.topic-detail .container .right .rt2 .items .item:first-child a.scale {
  left: 0;
  width: 305px;
  display: block;
  height: 201px;
}
.topic-detail .container .right .rt2 .items .item:first-child span {
  top: 5px;
}
.topic-detail .container .right .rt2 .items .item {
  position: relative;
  height: 39px;
  border-bottom: 1px dotted #ededed;
}
.topic-detail .container .right .rt2 .items .item span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #3388fb;
  display: block;
  position: absolute;
  left: 1px;
  top: 18px;
}
.topic-detail .container .right .rt2 .items .item a {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
  position: relative;
  left: 10px;
  top: 5px;
}
.topic-detail .container .right .rt2 .items .item a:hover {
  color: #367dcd;
}
.topic-detail .container .right .rt2 .items .item:last-child {
  border-bottom: none;
}
.topic-detail .container .right .rt3 {
  position: relative;
  background: #fff;
  margin-top: 15px;
}
.topic-detail .container .right .rt3 .item-head {
  position: relative;
  left: 19px;
  height: 55px;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.topic-detail .container .right .rt3 .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 7px;
}
.topic-detail .container .right .rt3 .item-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.topic-detail .container .right .rt3 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 21px 0 20px 0;
  margin: 0 auto;
  width: 305px;
}
.topic-detail .container .right .rt3 ul li + li {
  border-top: 1px dotted #e0e0e0;
}
.topic-detail .container .right .rt3 ul li img.little-blue {
  width: 4px;
  height: 7px;
  position: relative;
  top: 10px;
}
.topic-detail .container .right .rt3 ul li img.big-pic {
  width: 305px;
  height: 201px;
}
.topic-detail .container .right .rt3 ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 25px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 291px;
  max-height: 49px;
}
.topic-detail .container .right .rt4 {
  height: 524px;
  background: #fff;
  margin-top: 15px;
  padding: 12px 20px 30px;
}
.topic-detail .container .right .rt4 .items-head {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}
.topic-detail .container .right .rt4 .items-head img {
  width: 20px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 5px;
}
.topic-detail .container .right .rt4 .items-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 11px;
}
.topic-detail .container .right .rt4 .content .items .item.hover {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px dotted #e3e3e3;
  height: 99px;
}
.topic-detail .container .right .rt4 .content .items .item.hover a img {
  display: block;
  width: 120px;
}
.topic-detail .container .right .rt4 .content .items .item.hover .boxx {
  position: relative;
  margin-left: 17px;
}
.topic-detail .container .right .rt4 .content .items .item.hover .boxx .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-top: 4px;
}
.topic-detail
  .container
  .right
  .rt4
  .content
  .items
  .item.hover
  .boxx
  .box
  .tit {
  width: 112px;
  white-space: nowrap;
  overflow: hidden;
  top: -4px;
}
.topic-detail .container .right .rt4 .content .items .item.hover .boxx .txt {
  margin-top: 10px;
  display: -webkit-box;
}
.topic-detail .container .right .rt4 .content .items .item.hover .boxx .txt a {
  font-size: 12px;
  color: #666666;
  line-height: 22px;
}
.topic-detail .container .right .rt4 .content .items .item {
  position: relative;
  margin-top: 14px;
}
.topic-detail .container .right .rt4 .content .items .item a img {
  display: none;
}
.topic-detail .container .right .rt4 .content .items .item .paim {
  width: 19px;
  height: 18px;
  background: #b7d3fa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 4px;
}
.topic-detail .container .right .rt4 .content .items .item .tit {
  margin-left: 35px;
  position: relative;
  top: 1px;
}
.topic-detail .container .right .rt4 .content .items .item .tit a {
  font-size: 14px;
  color: #555555;
}
.topic-detail .container .right .rt4 .content .items .item .tit a:hover {
  color: #247fe2;
}
.topic-detail .container .right .rt4 .content .items .item .txt {
  display: none;
}
.topic-detail
  .container
  .right
  .rt4
  .content
  .items
  .item:nth-child(1)
  .boxx
  .box
  .paim {
  background: #ff2202;
  top: 2px;
}
.topic-detail .container .right .rt4 .content .items .item:nth-child(2) .paim {
  background: #ff7302;
}
.topic-detail .container .right .rt4 .content .items .item:nth-child(3) .paim {
  background: #ffcc02;
}
.question-list {
  padding-top: 22px;
  padding-bottom: 57px;
  background: #f5f5f5;
  width: 100%;
  /*max-width: 1920px;*/
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.question-list .items {
  padding: 24px 26px 0 25px;
}
.question-list .items .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid #f0f0f0;
}
.question-list .items .item-head img {
  width: 21px;
  height: 21px;
}
.question-list .items .item-head p {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  margin-left: 11px;
}
.question-list .left-items {
  width: 860px;
  margin-left: calc(50% - 625px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.question-list .left-items .left-item1 {
  display: block;
  max-height: 440px;
}
.question-list .left-items .left-item1 .swiper-container{
  max-height: 440px;
}

.question-list
  .left-items
  .left-item1
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  img {
  width: 100%;
  height: 440px;
}
.question-list
  .left-items
  .left-item1
  .swiper-container
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 28px;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin: 0 1.5px;
}
.question-list
  .left-items
  .left-item1
  .swiper-container
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background: #fff;
}
.question-list .left-items .left-item1 .swiper-container .swiper-button-prev,
.question-list .left-items .left-item1 .swiper-container .swiper-button-next {
  width: 45px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}
.question-list
  .left-items
  .left-item1
  .swiper-container
  .swiper-button-prev:after,
.question-list
  .left-items
  .left-item1
  .swiper-container
  .swiper-button-next:after {
  color: #fff;
}
.question-list .left-items .left-item1 .swiper-container .swiper-button-prev {
  left: 0;
}
.question-list .left-items .left-item1 .swiper-container .swiper-button-next {
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.question-list .left-items .left-item2 {
  margin-top: 15px;
  background: #fff;
}
.question-list .left-items .left-item2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 809px;
  padding: 29px 20px 25px 12px;
  border-bottom: 1px dotted #e0e0e0;
}
.question-list .left-items .left-item2 .item img.avator {
  width: 51px;
  /*height: 51px;*/
  border-radius: 50%;
}
.question-list .left-items .left-item2 .item .box {
  margin-left: 36px;
}
.question-list .left-items .left-item2 .item .box .tit {
  position: relative;
  overflow: hidden;
  max-height: 72px;
  max-width: 690px;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.question-list .left-items .left-item2 .item .box .tit .boxx {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -2px;
}
.question-list .left-items .left-item2 .item .box .tit .boxx span.jingxuan {
  width: 66px;
  height: 26px;
  background: #ff5500;
  border-radius: 12px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.question-list
  .left-items
  .left-item2
  .item
  .box
  .tit
  .boxx
  span.jingxuan
  span {
  margin-left: 2px;
  font-size: 14px;
  color: #ffffff;
  line-height: 36px;
}
.question-list .left-items .left-item2 .item .box .tit .boxx span.jingxuan img {
  width: 14px;
  height: 13px;
}
.question-list .left-items .left-item2 .item .box .tit .txt a {
  font-size: 22px;
  color: #333333;
  line-height: 36px;
}
.question-list .left-items .left-item2 .item .box .tit .txt a:hover {
  color: #367dcd;
}
.question-list .left-items .left-item2 .item .box .tags {
  margin-top: 35px;
}
.question-list .left-items .left-item2 .item .box .tags .tag {
  padding: 6px 19px;
  display: inline-block;
  margin-top: 10px;
  background: #f6f6f6;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
}
.question-list .left-items .left-item2 .item .box .tags .tag a {
  font-size: 14px;
  color: #666666;
  line-height: 1em;
}
.question-list .left-items .left-item2 .item .box .tags .tag a:hover {
  color: #367dcd;
}
.question-list .left-items .left-item2 .item .box .tags .tag + .tag {
  margin-left: 10px;
}
.pagenation {
  margin: 57px auto 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.pagenation a {
  display: inline-block;
  margin: 0 5px;
  background-color: #fff;
  padding: 7px 12px;
  font-size: 12px;
}

.pagenation a:hover {
  background-color: #367dcd;
  color: #fff;
  font-weight: 700;
}

.on {
  background-color: #367dcd !important;
  color: #fff !important;
  font-weight: 700;
}
.question-list .right-items {
  width: 345px;
  margin-left: 20px;
}
.question-list .right-items .right-item1 {
  background: #fff;
  padding: 35px 20px 24px;
}
.question-list .right-items .right-item1 .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 75px;
}
.question-list .right-items .right-item1 .item-head img {
  width: 48px;
  height: 48px;
}
.question-list .right-items .right-item1 .item-head .box {
  margin-left: 18px;
}
.question-list .right-items .right-item1 .item-head .box .tit {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 28px;
}
.question-list .right-items .right-item1 .item-head .box .txt {
  font-size: 16px;
  color: #888888;
}
.question-list .right-items .right-item1 ul {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 305px;
}
.question-list .right-items .right-item1 ul li {
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.question-list .right-items .right-item1 ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: block;
  float: left;
  margin: 15px 14px 0 4px;
}
.question-list .right-items .right-item1 ul li a {
  color: #555555;
  font-size: 14px;
}
.question-list .right-items .right-item1 ul li a:hover {
  color: #367dcd;
}
.question-list .right-items .right-item2,
.question-list .right-items .right-item3 {
  position: relative;
  background: #fff;
  margin-top: 16px;
  /*height: 495px;*/
}
.question-list .right-items .right-item2 .item-head,
.question-list .right-items .right-item3 .item-head {
  position: relative;
  left: 19px;
  height: 55px;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.question-list .right-items .right-item2 .item-head img,
.question-list .right-items .right-item3 .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 7px;
}
.question-list .right-items .right-item2 .item-head p,
.question-list .right-items .right-item3 .item-head p {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.question-list .right-items .right-item2 ul li,
.question-list .right-items .right-item3 ul li {
  /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
  position: relative;
  padding: 21px 0 20px 0;
  margin: 0 auto;
  width: 305px;
}
.question-list .right-items .right-item2 ul li + li,
.question-list .right-items .right-item3 ul li + li {
  border-top: 1px dotted #e0e0e0;
}
.question-list .right-items .right-item2 ul li img.little-blue,
.question-list .right-items .right-item3 ul li img.little-blue {
  width: 4px;
  height: 7px;
  position: relative;
  top: 16px;
  left: 0;
}
.question-list .right-items .right-item2 ul li img.big-pic,
.question-list .right-items .right-item3 ul li img.big-pic {
  width: 305px;
  height: 201px;
}
.question-list .right-items .right-item2 ul li a.scale,
.question-list .right-items .right-item3 ul li a.scale {
  margin-top: 0;
}
.question-list .right-items .right-item2 ul li a,
.question-list .right-items .right-item3 ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 25px;
  margin-left: 10px;
  overflow: hidden;
  max-width: 295px;
  max-height: 50px;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* .question-list .right-items .right-item3 {
  height: 1809px;
} */
.question-list .right-items .right-item3 ul li {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 26px;
}
.question-list .right-items .right-item3 ul li a {
  margin-left: 0;
}
.question-list .right-items .right-item3 ul li a:nth-child(1) {
  max-height: 200px !important;
}
.question-list .right-items .right-item3 ul li a:nth-child(2) {
  margin-top: 14px;
  font-size: 18px;
  display: inline-block;
  color: #555555;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 16em;
  max-height: 50px;
}
.question-tag .left-items .left-item1 {
  height: 130px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 27px;
  padding-top: 35px;
  position: relative;
}
.question-tag .left-items .left-item1 img {
  position: relative;
  top: 10px;
  width: 26px;
  height: 24px;
}
.question-tag .left-items .left-item1 .tit {
  font-size: 30px;
  color: #ff5500;
  line-height: 36px;
  margin-left: 12px;
}
.question-detail {
  padding-bottom: 39px;
}
.question-detail .left-items .left-item-d1 {
  background: #fff;
  padding: 43px 55px 38px 35px;
  position: relative;
}
.question-detail .left-items .left-item-d1 .tit {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
}
.question-detail .left-items .left-item-d1 .txt {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  line-height: 24px;
  margin-top: 22px;
}
.question-detail .left-items .left-item-d1 .txt p + p {
  margin-top: 10px;
}
.question-detail .left-items .left-item-d1 .tags {
  float: right;
  margin-top: 36px;
}
.question-detail .left-items .left-item-d1 .tags .tag {
  padding: 0 19px;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
  background: #f6f6f6;
  display: inline-block;
  margin-top: 10px;
}
.question-detail .left-items .left-item-d1 .tags .tag + .tag {
  margin-left: 10px;
}
.question-detail .left-items .left-item-d1 .tags .tag a {
  font-size: 14px;
  color: #666666;
  line-height: 28px;
}
/* .question-detail .left-items .left-item-d1 .time-views {
  position: absolute;
  bottom: 38px;
  left: 34px;
} */
.question-detail .left-items .left-item-d1 .time-views img {
  width: 17px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-left: 15px;
}
.question-detail .left-items .left-item-d1 .time-views span {
  font-size: 14px;
  color: #888888;
  line-height: 24px;
}
.question-detail .left-items .left-item-d2 {
  margin-top: 15px;
  background: #fff;
  padding: 24px 26px 20px 25px;
}
.question-detail .left-items .left-item-d2 .item-head {
  height: 41px;
  width: 809px;
  border-bottom: 1px solid #e0e0e0;
}
.question-detail .left-items .left-item-d2 .item-head div {
  display: inline-block;
}
.question-detail .left-items .left-item-d2 .item-head .tit {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
}
.question-detail .left-items .left-item-d2 .item-head .split {
  width: 3px;
  height: 11px;
  background: #c9c9c9;
  margin-left: 10px;
}
.question-detail .left-items .left-item-d2 .item-head .number {
  font-size: 18px;
  color: #888888;
  line-height: 22px;
  margin-left: 10px;
}
.question-detail .left-items .left-item-d2 .items .item {
  padding: 33px 0 27px;
  position: relative;
}
.question-detail .left-items .left-item-d2 .items .item .tit-box {
  position: relative;
}
.question-detail .left-items .left-item-d2 .items .item .tit-box img.avator {
  width: 51px;
  height: 51px;
}
.question-detail .left-items .left-item-d2 .items .item .tit-box img {
  display: inline-block;
}
.question-detail .left-items .left-item-d2 .items .item .tit-box .tit {
  position: relative;
  top: -16px;
  margin-left: 15px;
  display: inline-block;
  font-size: 22px;
  color: #416184;
}
.question-detail .left-items .left-item-d2 .items .item .tit-box img.crown {
  margin-left: 7px;
  width: 24px;
  height: 21px;
  position: relative;
  top: -13px;
}
.question-detail .left-items .left-item-d2 .items .item .txt {
  margin-top: 15px;
  font-size: 14px;
  color: #888888;
  line-height: 24px;
}
.question-detail .left-items .left-item-d2 .items .item .txt p {
  font-size: 14px;
  color: #888888;
  line-height: 24px;
}
.question-detail .left-items .left-item-d2 .items .item .time {
  font-size: 14px;
  color: #888888;
  text-align: right;
  right: 2px;
  bottom: 38px;
}
.question-detail .left-items .left-item-d2 .items .item + .item {
  border-top: 1px dotted #e0e0e0;
}
.question-detail .left-items .left-item-d3 {
  background: #fff;
  padding: 24px 26px 35px 25px;
  margin-top: 15px;
}
.question-detail .left-items .left-item-d3 .item-head {
  position: relative;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
}
.question-detail .left-items .left-item-d3 .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.question-detail .left-items .left-item-d3 .item-head .tit {
  margin-left: 2px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
}
.question-detail .left-items .left-item-d3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 24px;
  position: relative;
}
.question-detail .left-items .left-item-d3 .item .item-left {
  position: relative;
  height: 283px;
}
.question-detail .left-items .left-item-d3 .item .item-left img {
  width: 429px;
}
.question-detail .left-items .left-item-d3 .item .item-left .tit-box {
  position: absolute;
  bottom: 0;
  height: 42px;
  width: 429px;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 13px;
  padding-left: 21px;
}
.question-detail .left-items .left-item-d3 .item .item-left .tit-box .tit a {
  font-size: 16px;
  color: #ffffff;
}
.question-detail .left-items .left-item-d3 .item ul {
  padding-left: 13px;
  margin-left: 13px;
  position: relative;
  top: -8px;
  width: 369px;
}
.question-detail .left-items .left-item-d3 .item ul li {
  line-height: 24px;
}
.question-detail .left-items .left-item-d3 .item ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -10px;
  right: 10px;
}
.question-detail .left-items .left-item-d3 .item ul li .time {
  float: right;
  color: #888888;
  line-height: 30px;
}
.question-detail .left-items .left-item-d3 .item ul li a {
  color: #555555;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20em;
  white-space: nowrap;
  display: inline-block;
}
.question-detail .left-items .left-item-d3 .item ul li a:hover {
  color: #367dcd;
}
.question-detail .left-items .left-item-d4 {
  background: #fff;
  padding: 24px 26px 35px 25px;
  margin-top: 21px;
}
.question-detail .left-items .left-item-d4 .item-head {
  position: relative;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
}
.question-detail .left-items .left-item-d4 .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.question-detail .left-items .left-item-d4 .item-head .tit {
  margin-left: 2px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
}
.question-detail .left-items .left-item-d4 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.question-detail .left-items .left-item-d4 .item ul {
  padding-left: 13px;
  margin-top: 16px;
  width: 100%;
}
.question-detail .left-items .left-item-d4 .item ul li {
  line-height: 24px;
  float: left;
  width: 45%;
}
.question-detail .left-items .left-item-d4 .item ul li:nth-of-type(2n) {
  float: right;
}
.question-detail .left-items .left-item-d4 .item ul li:before {
  content: " ";
  width: 3px;
  height: 3px;
  background: #3388fb;
  display: inline-block;
  position: relative;
  top: -9px;
  right: 10px;
}
.question-detail .left-items .left-item-d4 .item ul li .time {
  float: right;
  color: #888888;
  line-height: 30px;
}
.question-detail .left-items .left-item-d4 .item ul li a {
  color: #555555;
  white-space: nowrap;
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 14px;
}
.question-detail .left-items .left-item-d4 .item ul li a:hover {
  color: #367dcd;
}
.question-detail .left-items .left-item-d4 .item ul + ul {
  margin-left: 72px;
}
.question-detail .right-items .right-item-d1 {
  margin-top: 0;
}
.question-detail .right-items .right-item-d1 .item-head img {
  width: 20px;
  height: 28px;
  top: 1px;
}
.question-detail .right-items .right-item-d2 {
  background: #fff;
  margin-top: 15px;
  padding: 21px 20px;
}
.question-detail .right-items .right-item-d2 .item-head {
  position: relative;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
}
.question-detail .right-items .right-item-d2 .item-head img {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.question-detail .right-items .right-item-d2 .item-head .tit {
  margin-left: 2px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
}
.question-detail .right-items .right-item-d2 .items-box {
  width: 100%;
  margin-top: 12px;
  overflow: hidden;
}
.question-detail .right-items .right-item-d2 .items-box span {
  padding: 8px 15px;
  border-radius: 10px;
  background: #f0f4f9;
  display: block;
  float: left;
  margin-top: 12px;
}
.question-detail .right-items .right-item-d2 .items-box span:hover {
  background: #367dcd;
}
.question-detail .right-items .right-item-d2 .items-box span:hover a {
  color: #fff;
}
.question-detail .right-items .right-item-d2 .items-box span + span {
  margin-left: 5px;
}
.question-detail .right-items .right-item-d2 .items-box span a {
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  color: #367dcd;
}
.question-detail .right-items .right-item-d2 .items-box .itemss + .itemss {
  margin-top: 12px;
}
.question-detail .right-items .right-item-d3 {
  background: #fff;
  padding: 21px 20px 37px;
  margin-top: 15px;
}
.question-detail .right-items .right-item-d3 .swiper-container {
  height: 207px;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-wrapper
  .swiper-slide {
  width: 305px;
  position: relative;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  img {
  width: 305px;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .tit-box {
  position: absolute;
  padding: 8px 22px 8px 13px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .tit-box
  .tit
  a {
  color: #fff;
  font-size: 18px;
  color: #ffffff;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-pagination {
  bottom: 8px;
  height: 6px;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-pagination-bullet {
  width: 101px;
  height: 6px;
  border-radius: 0;
  background: #dddddd;
  margin: 0;
}
.question-detail
  .right-items
  .right-item-d3
  .swiper-container
  .swiper-pagination-bullet-active {
  background: #00a2e8;
}
.question-detail .right-items .right-item-d3 .item-head {
  height: 48px;
  padding: 17px 0 13px;
  border-bottom: 1px solid #e0e0e0;
}
.question-detail .right-items .right-item-d3 .item-head .tit {
  font-size: 18px;
  color: #333333;
  line-height: 18px;
}
.question-detail .right-items .right-item-d3 ul {
  margin-top: 6px;
}
.question-detail .right-items .right-item-d3 ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 35px;
}
.question-detail .right-items .right-item-d3 ul li span {
  font-size: 14px;
  color: #00a2e8;
  line-height: 35px;
}
.bugCss {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hei {
  height: 142px;
}
.wid {
  width: 380px;
}
.new {
  line-height: 30px;
  width: 380px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  display: block;
  width: 300px;
  float: left;
}
.ll {
  float: left;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}
